.vscode/
node_modules/
dist/
package-lock.json

\.idea/codeStyles/codeStyleConfig\.xml

\.idea/codeStyles/Project\.xml

\.idea/encodings\.xml

\.idea/inspectionProfiles/Project_Default\.xml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/react-toastfy\.iml

\.idea/workspace\.xml
