@import "variables.scss";
@import "mixins.scss";
@import "./components/index.scss";

body {
  background-image: linear-gradient(to right top, #363e49, #313843, #2d333e, #282d38, #242833);
  color: #f8f8f8;
  display: flex;
  justify-content: center;
}

h1 {
  color: #f8f8f8;
  font-family: helvetica;
}
